.env
python-agents/.env

node_modules
.next
DS_Store
python-agents/__pycache__
.DS_Store
plan.node_modules

newreadme.md

latestchanges.md
changes.md
deploy.md
makechanges.md
NEWREADME.md
oldREADME.md

